<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/style.css" rel="stylesheet"/>
  <link href="./css/login-signup.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="asset/favicon.png">
  <title>MyPhysics - Signup</title>
</head>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<body>
<!-- Navbar -->
  <div class="navbar">
    <div class="logo">
      <div class="logo"><i style="color: #00b4d8;" class="fa-solid fa-atom"></i><a href="index.html"><strong>MyPhysics</strong></a></div>
    </div>
  </div>

  <!-- SIGNUP SECTION -->
  <div class="auth-container">
    <div class="auth-box">
      <h2>Buat Akun <span style="color: var(--color-5);">MyPhysics</span></h2>
      <p class="auth-subtext">Silahkan masukan kode otp yang sudah dikirimkan ke emailmu</a></p>

      <form action="#" method="post" class="auth-form">
        <div class="input-group">
          
          <input type="text" id="username" name="otp" placeholder="Masukan otp" required>
        </div>


      

        <button type="submit" class="auth-btn">Daftar</button>
      </form>
    </div>
  </div>

<script>
document.querySelectorAll('.toggle-password').forEach(btn => {
  btn.addEventListener('click', () => {
    const input = btn.closest('.input-group').querySelector('input');
    const icon = btn.querySelector('i');
    
    if (input.type === 'password') {
      input.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      input.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
    // pastikan tetap putih meski ada efek lain
    icon.style.color = '#fff';
  });
});
</script>
</body>
</html>